<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/test" version="1.0.0" viewmodes="maximized">
    <access origin="http://210.107.198.176:8080" subdomains="true"/>
    <access origin="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js" subdomains="true"/>
    <access origin="http://210.107.198.176.22222" subdomains="true"/>
    <tizen:application id="23lGZwKekJ.test" package="23lGZwKekJ" required_version="2.2"/>
    <content src="index3.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>test</name>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
</widget>
